* {
    margin: 0;
    padding: 0;
    }
body{
    font-family: sans-serif;
    color: #1F3F68;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.top-content{
    flex-grow: 1;
}
.top{
    min-height: 768px;
}
.top-main{
    background-image: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%); 
}
.top-box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{ 
    display: flex;
    justify-content: 
    space-between;
    padding-top: 42px;    
}
.top-info{
    background-image: url('../img/background/menu.png');
    background-repeat: no-repeat;
    background-position: right center ;
    flex-grow: 1;
    background-size: 44%;
}
.top_heading{
    width: 510px;
    margin-bottom: 32px;
    padding-top: 115px;
    font-size: 64px;
    font-weight: 300;
    color: #1F3F68;
    letter-spacing: 0.04em;
    line-height: 74px;
}
.text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.top_text{
    width: 425px;
}
.top_button{
    margin-top: 71px;
    padding: 15px 50px;
    display: inline-block;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    color: #1F3F68;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;   
}
.what-we-do{
    padding-top: 64px;
}
.heading{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;  
}
.card-box{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.card_img{
    align-self: center;
    margin-bottom: 51px;
}
.heading-mini{
    margin-bottom: 14px;
    width: 283px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}
.card-text{
    width: 268px;
    margin-top: 14px;
}
.card-link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;  
}
.project-heading{
    margin-top: 63px;
}
.project-text{
    margin: 32px auto 64px;
    width: 75%;
    text-align: center;
    opacity: 1;
    color: #222222;         
}
.project_item{
    position: relative;
    flex-grow: 1;
}
.project_img{
    width: 100%;
}
.project-text_min{
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.project_parent{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}
.sparklite{
    position: relative;
    width: 50%;
    margin-right: 32px;
}
.sparklite-text{
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.car{
    position: relative;
    width: 50%;
}
.car-text{
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer{
    margin-top: 112px;
    background-color:  #316099;
}
.footer-woek{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-top: 91px;  
}
.footer-woek_block-heading{
    width: 495px;
}
.footer-woek_heading{
    width: 340px;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer-woek_text{
    padding-top: 32px;
    padding-bottom: 96px;
    color: #FFFFFF;
}
.footer-woek_button{
    width: 236.63px;
    height: 56px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
}
hr{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
.list{
    display: flex;
    justify-content: space-between;
    padding-top: 64px; 
}
.smart:first-child::before{
    content: 'A.';
    display: block;
    margin-right: 16px;
}
.smart:nth-child(2)::before{
    content: 'T.';
    display: block;
    margin-right: 16px;
}
.smart:last-child::before{
    content: 'E.';
    display: block;
    margin-right: 16px;
}
.footer-contacts_text{
    display: flex;
    opacity: 1; 
    flex-grow: 1;
    flex-basis: 33.33%;
    margin-right: 32px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.none-decoration{
    text-decoration: none;
}
.footer-rights{
   padding: 64px 0;
}
.footer-rights_text{
    color: #FFFFFF;
    opacity: 0.4;  
}
.top-contact{
    min-height: 471px;
}
.top-contact-info {
    background-image: url('../img/background/top-contact-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 0.3;
}
.top-contact-info_heading{
    padding-top: 105px;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
}
.top-contact-info_text{
    width: 780px;
    padding-top: 16px;
    padding-left: 365px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.contact{
    display: flex;
    justify-content: space-between;
}
.contact-us_img{
    margin-top: 25px;
    margin-left: 212px; 
}
.contact-us_heading{
    padding-top: 40px;
    padding-left: 214px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px; 
    letter-spacing: 0.04em;
    color: #1F3F68; 
}
.contact-us_text{
    width: 299px;
    margin-top: 24px;
    margin-left:214px;
    font-weight: 300;
    letter-spacing: 0.04em;
}
.contact-list{
   padding-top: 24px; 
   padding-left: 216px;
}
.contact-list_text{
    margin-top: 24px;
    opacity: 0.4;
    color: #1F3F68;
    text-decoration: none;
}
.online-list_text{
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-decoration: none;
}
.contact-us-form{
    width: 540px;
    height: 800px;
    margin-top: -55px;
    margin-bottom: 96px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.contact-us-form_heading{
    padding-top: 56px;
    padding-left: 56px;
    padding-bottom: 48px;
}
.contact-us-form_small-heading{
    padding-left: 56px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}
.contact-us-form_input{
    margin-left: 56px;
    width: 428px;
    padding-top: 21px;
    padding-left: 36px;
    padding-bottom: 21px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.contact-us-form_button{
    margin: 72px 56px ;
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.map{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (max-width: 1024px) {
    .container{
        padding-left: 32px;
        padding-right: 32px;  
    }
    .top-info{
        background-position: right 210px ;
    }
    .card-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 32px;
    }
    .footer{
        margin-top: 109px; 
    }
    .footer-woek{
        padding-top: 47px;
    }
    .footer-woek_block-heading{
        width: 336px;
    }
    .footer-woek_text{
        padding-bottom: 64px;
    }
    .footer-woek_button{
        width: 133px;
        height: 31px;
    }
    .list {
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        margin-left: 114px;
    }
    .smart{
        margin-bottom: 25px;
    }
    .footer-contacts_text{
        display: flex; 
        flex-grow: 1;
        flex-basis: 100%;
    }
    .footer-rights{
        padding-top: 39px;
    }
    .top-contact-info_heading{
        padding-top:  80px;
    }
    .top-contact-info_text{
        width: 520px;
        padding-left: 180px;
        padding-bottom: 40px;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    .contact-us_img{
        margin-top: 0;
        padding-bottom: 64px;
    }
    .contact-us_heading{
        padding-top: 0;
        padding-left: 237px;
    }
    .contact-us_text{
        margin-left: 237px;
    }
    .contact-list{
        padding-top: 28px;
        padding-left: 239px;
    }
    .contact-us-form{
        width: 520px;
        height: 780px;
        margin: 64px 124px;
    }
    .contact-us-form_heading{
        padding-top: 54px;
        padding-left: 54px;
        padding-bottom: 47px;
    }
    .contact-us-form_small-heading{
       padding-left: 54px; 
       padding-bottom: 8px;
    }
    .contact-us-form_input{
        margin-left: 54px;
        width: 412px;  
    }
    .contact-us-form_button{
        width: 412.15px;
        height: 70.2px;
        margin: 70px 53px 55px;
    }
}
@media(max-width: 667px){
    .header{
        padding-top: 24px;
    }
    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .top-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 36px;
        background-image: none;
    }
    .top_heading{
        width: 100%;
        margin-bottom: 12px;
        padding-top: 0;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
    }
    .top_text{
        width: 100%; 
        text-align: center;  
    }
    .top_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .what-we-do{
        padding: 48px; 
    }
    .heading{
        font-size: 24px;
        line-height: 28px; 
    }
    .card{
        width: 100%;
    }
    .card-box{
        padding-top: 32px;
    }
    .project-text{
        width: 100%;
    }
    .project-text_min{
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
    }
    .project_parent{
        flex-direction: column;
        align-items: center;
    }
    .sparklite{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .sparklite-text{
        font-size: 16px;
        line-height: 19px;
        top: 26px;
        left: 16px;
    }
    .car{
        width: 100%;
    }
    .car-text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }
    .footer{
        margin-top: 64px; 
    }
    .footer-woek{
        display: flex;
        flex-direction: column;
    }
    .footer-woek_block-heading{
        width: 375px;
    }
    .footer-woek_heading{
        font-size: 24px;
        line-height: 28px;
    }
    .footer-woek_text{
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 26px;
    }
    .footer-woek_button{
        width: 108.23px;
        height: 31.48px;
    }
    hr{
        margin-top: 41px;
    }
    .list{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 0;
    }
    .smart{
        margin-bottom: 17px;
    }
    .footer-contacts_text{
        display: flex;
        flex-basis: 100%;
        line-height: 19px;
        padding-bottom: 17px;
    }
    .footer-rights{
        padding: 20px 0 32px 0;
        text-align: center;
    }
    .top-contact-info_heading{
        padding-top: 81px;
        font-size: 24px;
        line-height: 28px;
    }
    .top-contact-info_text{
        font-size: 16px;
        width: 341px;
        padding: 0;
        margin: 0 auto;
    }
    .top-contact-info_heading{
        padding-top:  30px;
        font-size: 24px;
        line-height: 28px;
    }
    .top-contact-info_text{
        width: 330px;
        padding: 20px 0;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    .contact-us_img{
        margin: 0;
    }
    .contact-us_heading{
        padding-top: 32px;
        padding-left: 38px;
    }
    .contact-us_text{
        margin: 0;
        padding-top: 24px;
        padding-left: 37px;
    }
    .contact-list{
        margin: 0;
        padding-top: 38px;
        padding-left: 42px;
    }
    .contact-us-form{
        margin: 32px 13px;
        width: 342.67px;
        height: 514px;
    }
    .contact-us-form_heading{
        padding-top: 36px;
        padding-left: 36px;
        padding-bottom: 31px;
    }
    .contact-us-form_small-heading{
        padding-left: 36px; 
        padding-bottom: 5px;
     }
    .contact-us-form_input{
        margin-left: 35px;
        width: 271.6px;
    }
    .contact-us-form_button{
        width: 271px;
        height: 46px;
        margin: 45px 35px 34px;
    }
}